<div class="container">
  <% @artists.each do |artist| %>
  <div class="card">
    <div class="img-container" style="background-image: url(<%= artist[:image_url] %>)">
    </div>
    <div class="text-container">
      <h3><%= artist[:name] %></h3>
      <p><%= artist[:city] %></p>
      <p><%= artist[:description] %></p>
      <p><%= artist[:genre] %></p>
      <p><%= artist[:performer_details] %></p>
    </div>
  </div>
  <% end %>
</div>