<!DOCTYPE html>
<html>
  <head>
    <title>EYEGUM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('homepg_illustration_1.svg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="eyegum">
    <%= render partial: '/shared/nav' %>
    <%= yield %>
    <%= render partial: '/shared/footer' %>
  </body>
</html>
